bin
obj
build
test
docker-compose.yml
docker-compose.*.yml
docker-compose.dcproj
.dockerignore
.env
.git
.gitattributes
.idea
.gitignore
.vs
.vscode
.editorconfig
**/Dockerfile.*
SC.DevChallenge.sln
**/bin
**/obj
**/build
**/*.csproj.user